@import "@styles";

.Button {
  padding: .5rem;
  min-width: 6.25rem;
  border-radius: $small;
  color: $white;
  cursor: pointer;
  height: 2.5rem !important; 

  @media print {
    display: none;
  }

}

.primary {
  background-color: $primary;
  &:hover {
    opacity: .8;
  }
}

.warning {
  background-color: $warning;
  &:hover {
    opacity: .8;
  }
}