@import "@styles";

.Button {
  padding: .5rem;
  min-width: 6.25rem;
  border-radius: $small;
  color: $white;
  cursor: pointer;
}

.primary {
  background-color: $primary;
  &:hover {
    opacity: .8;
  }
}