@import "@styles";

.Sidenav {
  background-color: $primary;
  height: 100vh;
  max-height: 100vh;
  width: 257px;

  &__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
    color: $white;
    img {
      height: 50px;
    }

    h4 {
      margin-top: 1rem;
    }
    p {
      margin-top: .2rem;
    }
  }

  &__links {
    margin-top: 4rem;

    &-item {
      display: flex;

      padding-top: .8rem;
      padding-bottom: .8rem;
      padding-left: 2rem;

      &:hover {
        background-color: $lightBlue;
        color: $black;
        svg{
          fill: $primary !important;
        }

        p {
          color: $primary;
        }
      }
      
      svg{
        fill: $white !important;
        height: 2rem;
        width: 2rem;
      }
      p {
        margin-left: .8rem;
        margin-top: .3rem;
        color: $white;
        font-weight: 600;
      }
    }
  }

  &__bottomLinks {
    position: fixed;
    bottom: 0;
    width: 257px;

    a {
      background-color: transparent;
      p {
        color: $white;
      }
      svg {
        fill: $white !important;
      }
    }
  }
}

.active-link {
  background-color: $lightBlue;
  color: $black;
  svg{
    fill: $primary !important;
  }
  p {
    color: $primary;
  }
}