@font-face{
  font-family: 'Montserrat';
  src: url("../assets/font/Montserrat-Bold.ttf") format('truetype');
  font-weight: bold;
}

@font-face{
  font-family: 'Montserrat';
  src: url("../assets/font/Montserrat-Light.ttf") format('truetype');
  font-weight: lighter;
}


@font-face{
  font-family: 'Montserrat';
  src: url("../assets/font/Montserrat-Medium.ttf") format('truetype');
  font-weight: medium;
}

@font-face{
  font-family: 'Montserrat';
  src: url("../assets/font/Montserrat-Regular.ttf") format('truetype');
  font-weight: normal;
}

@font-face{
  font-family: 'Montserrat';
  src: url("../assets/font/Montserrat-SemiBold.ttf") format('truetype');
  font-weight: 600;
}
