$black: hsl(0, 0%, 20%);
$white: hsl(0, 0%, 100%);
$primary: 	hsl(213, 54%, 52%); // #437fc7
$warning: 	hsl(7, 81%, 45%); //#d22d16
$lightBlue: 	hsl(210, 100%, 96%); //#edf6ff
$lightGray: 	hsl(0, 0%, 76%); //#c1c1c1
$gray: hsl(0, 0%, 47%); //#787878


// font size
$small: 0.875rem; //14 px
$medium: 1.125rem; //18px
$large: 1.25rem;//20px
$xlarge: 1.5rem; // 24px

//break points
$sm: 36rem; //576px
$md:  48rem; //768px
$lg: 63rem; //992px
$xlg: 75rem; //1200px
$xxlg: 87.5rem; //1400px