@import "@styles";

.Settings {
  &__content {
    margin-top: 3rem;

    table {
      margin-top: 2rem;
    }
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}